.popup{
    border: 6px solid rgba(0, 0, 0,.4);
    background-color: rgba(56, 155, 236,.7);
    width: 1fr;
    padding: 2%;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative; 
    box-shadow: 10px 10px 15px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
#mensaje{
    display: none;

}
#eco-imagen:hover + #mensaje{
    display: block; 

}
.resaltar:hover{
    box-shadow: 10px 10px 15px black;
    border: 5px solid rgba(255, 255, 255, 0.8);
    transform: scale(1.6);
    border-radius: 50%;
    transition: 3s;
}
.resaltar{
    border: 5px solid rgba(255, 255, 255, 0);
    
    
}